//space_content
.space_content{
  background: -webkit-linear-gradient(#40afdf 0%,#a1d0e3  100%);
  background: -o-linear-gradient(#40afdf 0%,#a1d0e3 100%);
  background: linear-gradient(#40afdf 0%,#a1d0e3 100%);

  .clearfix{
    clear:both;
  }

  hr{
    margin-top: 10px;
    margin-bottom: 15px;
    border: 0;
    border-top: 1px solid #eeeeee;
  }

  .report{
    font-size: 14px;
    text-align: left;
  }

  #map{
    height:450px;
  }

  .google_map_wrap{
    position: relative;
  }

  .space_map_content{
    background-color: $white;
    position: absolute;
    top:50px;
    left:30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding:20px;
    width: 350px;
    text-align: left;

    p{
      margin-left:0px;

    }

    p~p{
      margin-left:0px !important;
      margin-top:5px;
    }
  }

  .space_intro{
    background-color: $white;
    padding:30px;
  }

  .space_intro_content{
    p{
      margin-top:15px;
      color:$dark-grey;
    }
  }

  .space_tab_ctrl{
    background-color: $white;
    padding:30px 30px 0px 30px;
    text-align: center;
    li{
      box-sizing: border-box;
      display: inline-block;
      font-family: $main_font_family;
      font-weight: bold;
      font-size: 18px;
      padding:10px 50px 10px 50px;
      cursor: pointer;
      &.active{
        border-bottom: 5px #03A9F4 solid;
      }
      &:hover{

      }
    }

    li~li{
      margin-left:50px;
    }
  }

  .order_tab{
    display:none;
  }

  .eval_user_img{
    max-width: 60px;
    max-height: 60px;
    border-radius: 50%;
    border: 5px $yellow solid;
  }

  .evaluation_user_img{
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    border: 5px $yellow solid;
  }

  .user_occu{
    font-size: 14px;
  }

  .space_evaluation{
    background-color: #ddd;
    padding:30px;
    &:after{
      content:"";
      display: table;
      clear: both;
    }



    .space_evaluation_order{
      margin-bottom: 15px;
      a{
        color:$grey;

        &.active{
          color:$dark-blue;
        }
      }


    }
    .eval_user{
      min-height: 250px;
      padding: 30px;
      background-color: white;
      border: 1px solid #DADFDF;
      border-right: none;
      text-align: center;
      margin-bottom: 30px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      border-radius: 1px;
    }
    .eval_content{
      min-height: 250px;
      margin-bottom: 30px;
      background: white;
      border: 1px solid #DADFDF;
      padding: 30px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      border-radius: 1px;
      position: relative;
      box-sizing: border-box;
    }

    .eval_like{
      position: absolute;
      bottom: 30px;
      left:30px;
      font-family: $sub_font_family;
      font-size: 14px;
      color: grey;
      .eval_like_btn{
        display: inline-block;
        color:$red;
        box-sizing: border-box;
        border: 2px $red solid;
        padding:5px 10px;
        border-radius: 3px;
        cursor: pointer;

      }
      .click_btn{
        color:$white;
        background-color: $red;
        transition: .3s;
      }
      .eval_like_btn:hover{
        color:$white;
        background-color: $red;
        transition: .3s;
      }
    }

    .eval_time{
      font-family: $sub_font_family;
      font-size: 16px;
      font-weight: normal;
      vertical-align: middle;
      margin-left: 15px;
      padding-bottom: 6px;
      display: inline-block;
      color:$dark-grey;

    }

    .eval_report{
      font-family: $sub_font_family;
      position: absolute;
      bottom:30px;
      right:30px;
    }
  }//space_evaluation
  .space_qa{
    background-color: #ccc;
    padding:30px;
    &:after{
      content:"";
      display: table;
      clear: both;
    }
    a{
      color:$grey;

      &.active{
        color:$dark-blue;
      }
    }


  }

  .space_content_main{
    background-color: $white;
    padding:30px;
  }

  .space_operate_info{
    i{
      color:$dark-grey;
    }
    p{
      color:#aaa;
      font-size: 14px;
      display: inline-block;
    }
    p~p{
      margin-left: 15px;
    }
  }

  .space_intro{
    background-color: $white;
    .space_intro_content{
      min-height: 20px;
    }

    .space_intro_img{
      min-height: 231px;
      display: -webkit-flex;
      display:         flex;
      -webkit-align-items: center;
              align-items: center;
      -webkit-justify-content: center;
              justify-content: center;
          }

    .space_intro_img img{
      width: 150px;
      height: 150px;
    }
  }

  .bread_crumbs_container{
    background-color:$white;
  }

  .bread_crumbs{
    font-family: $sub_font_family;
    padding:1em 0em;

    .bread_crumb_tag{
      font-size: 14px;
      color:$dark-grey;
    }
    .bread_crumb_tag:hover{
      color:$black;
    }
    .bread_crumb_separator{
      margin: 0 0.5em;
    }
  }//bread_crumbs end

  // slider
  .space_content_slider{
    position: relative;
    .slider_ctrl{
      font-size: 48px;
      color:$white;
      text-shadow: 0px 0px 1px #000;
      position: absolute;
      cursor: pointer;
      z-index: 2;
      &:hover{
        color: $grey;
        transition: .3s;
      }
      &.left{
        top:50%;
        left:3%;
      }

      &.right{
        top:50%;
        right:3%;
      }
    }
  }




  .slider_content{
    filter: opacity(50%);
    transition: .3s;

    &.slider_blur_remove{
      filter: opacity(100%);
    }

  }
  .content_img{
    height: 400px;
    background-image: url(../img/post_space_test_room_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    .img_1{

    }
  }

  .space_name{
    color:$black;
  }

  .space_star{
    position: relative;
    margin: 15px 0 0 0;
    display: inline-block;
  }

  .space_star:after{
    content:"4(3)";
    font-family: $sub_font_family;
    font-size: 20px;
    color:$dark-grey;
    position: absolute;
    right:-50px;
    top:3px;
  }

  .space_star:before{
    content: "\f005" "\f005" "\f005" "\f005" "\f006";
    font-family: FontAwesome;
    font-size: 24px;
    color:$yellow;
    display: inline-block;
  }

  .space_eval_star{
    font-family: $sub_font_family;
    vertical-align: middle;
    position: relative;
    .eval_star_score{
      position: absolute;
      top:-1px;
      left:120px;
      color:$dark-grey;
    }
  }

  .space_eval_star:before{
    content: "\f005" "\f005" "\f005" "\f005" "\f006";
    font-family: FontAwesome;
    font-size: 24px;
    color:$yellow;
    display: inline-block;
  }

  .eval_content_letter{
    margin-bottom:10px;
  }

  .space_eval_line{
    margin:5px 0px;
  }

  .space_addr{
    color:$grey;
    margin-top:10px;

  }

  .space_describe{
    line-height: 1.5em;
    letter-spacing: 1px;
  }

  .space_equip_title,.space_user_title,.space_describe_title,.space_blog_title{
    margin-top:30px;
    font-weight: 700;
    margin-bottom:10px;
  }

  .space_blog_title{
    // margin-left: 10px;
    // margin-top: 30px;
  }

    .blog_item {
      border-radius: 1px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      background-color: #F0F0FF;
      border: 1px solid #DADFDF;
      margin-bottom:30px;
      min-height: 290px;
      .blog_content{
        padding:5px 20px 20px 20px;
        position: relative;
        h5{
          margin-bottom: 5px;
        }
        a{
          position: absolute;
          bottom:20px;
          right:20px;
        }
      }
      img{
        width: 100%;
      }
  }




  .space_equip_item{
    display: inline-block;
    width: 260px;
    line-height: 30px;
    padding: 5px 0;
    position: relative;
  }

  .item_img{
    height: 30px;
    width: 30px;
    vertical-align: middle;
    position: absolute;
    left: 0;
    top: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    &.img1{
      background-image: url(../img/equipment_gif/hosting.png)
    }

    &.img2{
      background-image: url(../img/equipment_gif/hosting.png)
    }

    &.img3{
      background-image: url(../img/equipment_gif/hosting.png)
    }

    &.img4{
      background-image: url(../img/equipment_gif/hosting.png)
    }

    &.img5{
      background-image: url(../img/equipment_gif/hosting.png)
    }
  }

  .item_name{
    font-family: $sub_font_family;
    font-size: 16px;
    margin-left: 40px;
  }

  .space_order_wrap{
    float: right;
  }

  .space_order{
    border:1px solid #DADFDF;
    width: 290px;
    height:294px;
    background-color: #F0F0FF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding:20px;
    text-align: center;
    position: relative;
  }

  .order_limit{
    margin-top:5px;
  }

  .order_btn{
    width: 97%;
    i{
      display: block;
      position: absolute;
      top:17%;
      left: 35%;
      font-size: 17px;
    }
    &.order_btn_1{

    }
    &.order_btn_2{
    width: 49%;
    margin:0.3em 0em;
    padding:0.5em 0em;
    vertical-align: middle;
    position: relative;
    left: 7px;
    }
    &.order_btn_3{
    height:50px;
    width: 29%;
    margin:0.3em 0em;
    padding:33px 0.2em 20px 0.2em;
    vertical-align: bottom;
    position: relative;
    font-size: 14px;
    border-radius: 3px;

    &.order_btn_3_1{
      position: absolute;
      left:25.4px;
    }

    &.order_btn_3_2{
      position: absolute;
      left:105.4px;
    }

    &.order_btn_3_3{
      position: absolute;
      left:182.4px;
    }

    }

  }

  .space_owner{
    border:1px solid #DADFDF;
    width: 290px;
    background-color: #F0F0FF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding:20px;
    text-align: center;
    margin-top:10px;

  }

  .owner_img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;

  }

  .owner_desc{
    display: inline-block;
    vertical-align: middle;
    font-family: $sub_font_family;
    line-height: 1.5em;
    letter-spacing: 1px;
  }

  .space_announce{
    width: 290px;
    padding:0;
    text-align: left;
    margin-top:20px;
    a{
      display: block;
      line-height: 2em;
      letter-spacing: 1px;
      font-size: 14px;
      font-family: $sub_font_family;
    }
  }

  .space_user_item{
    display: inline-block;
    width: 150px;
    line-height: 30px;
    padding: 5px 0;
    position: relative;
    text-align: center;
    .user_img{
      height: 30px;
      width: 30px;
      vertical-align: middle;
      position: absolute;
      left: 0;
      top: 5px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    .user_name,.user_occu{
      @extend .item_name;
      margin-left: 0;
    }

    .user_occu{
      font-size: 14px;
      color:$dark-grey;
      display: block;
      margin-top: -10px;
    }

    .user_status{
      margin-top:5px;
    }

    .user_img{
      @extend .owner_img;
      display: block;
      width: 100px;
      height: 100px;
      margin: auto;
      position: relative;
    }
  }

.space_qa{
  background-color: #ddd;
  padding: 30px;
}

.space_qa_order{
  margin-bottom:15px;
}

.space_qa_item{
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding:15px 30px 30px 30px;
  border: 1px solid #DADFDF;
  background-color: $white;
  margin-bottom:30px;

}



.qa_item_no{
  font-weight: bold;
  margin-bottom:15px;
}

.qa_asker,.qa_asker_content,.qa_answer,.qa_answer_content{
  min-height: 105px;
}

.qa_asker{
  text-align: center;
}

.asker_wrap{
  margin-bottom: 15px;
  &:after{
    content:"";
    display:block;
    height: 0;
    clear:both;
  }
}

.qa_answer{
  text-align: center;
}

.qa_asker_content{
  margin-bottom:15px;
  &:after{
    content:"";
    display:block;
    height: 0;
    clear:both;
  }
}

.qa_answer_content{
  &:after{
    content:"";
    display:block;
    height: 0;
    clear:both;
  }
}

.asker_tag,.answer_tag{
  color:grey;
  font-size: 14px;;
}

.asker_word,.answer_word{
  margin-top:6px;
}

.asker_time,.answer_time{
  text-align: right;
  font-size: 14px;
}

.answer_img{
  @extend .eval_user_img;
  border-color:$dark-blue;
}

.asker_bubble{
  border: 2px solid $grey;
  height:100%;
  border-radius: 10px;
  padding:15px;
  position: relative;
  &:before{
    content:"";
    position: absolute;
    display: block;
    left:-20px;
    top:40px;
    width: 0px;
    height: 0px;
    border-top:10px solid transparent;
    border-right:20px solid $grey;
    border-bottom:10px solid transparent;
    // border-left:5px solid $grey;
  }
  &:after{
    content:"";
    position: absolute;
    display: block;
    left:-16px;
    top:39.5px;
    width: 0px;
    height: 0px;
    border-top:10px solid transparent;
    border-right:20px solid $white;
    border-bottom:10px solid transparent;
  }
  &.unanswer{
    border-color:$yellow;
    &:before{
    border-right:20px solid $yellow;
    }
  }
}



.answer_bubble{
  border: 2px solid $dark-blue;
  height:100%;
  border-radius: 10px;
  padding:15px;
  position: relative;
  &:before{
    content:"";
    position: absolute;
    display: block;
    right:-20px;
    top:40px;
    width: 0px;
    height: 0px;
    border-top:10px solid transparent;
    border-left:20px solid $dark-blue;
    border-bottom:10px solid transparent;
  }
  &:after{
    content:"";
    position: absolute;
    display: block;
    right:-16px;
    top:39.5px;
    width: 0px;
    height: 0px;
    border-top:10px solid transparent;
    border-left:20px solid $white;
    border-bottom:10px solid transparent;
  }
}

.qa_input_wrap{
  padding:30px;
}

.qa_input{
  font-family: $sub_font_family;
  padding:15px;
  width: 80%;
  min-height: 105px;

}

.qa_input_btn{
  position: absolute;
  top: 26%;
  right: 0;
}

.userlightboxbccc
	{
		background-color: rgba(33, 33, 33, 0.6);

		width: 100%;
    height: 100vh;
		position: fixed;
		z-index: 999999;
		display: none;
		opacity: 0;

	}
	#signupuserLightBox
	{
		margin-top: 0;
	    margin-left:0px;
		.lightbox{
      top:20%;
			label
			{
				text-align: left;
			}
			input[type='reset']
			{
				display: block;
			    width: 100%;
			    margin: 0.3em 0;
			}
		}
	}
	.userLightBox
	{
		background-color: rgba(33, 33, 33, 0.9);
		position: fixed;
	    z-index: 1000000;
	    top: 0%;
	    left: 0%;
	    margin-top: 0px;
	    margin-left: 0px;
      height: 100%;


	    display: none;
	    opacity: 0;
	    text-align: center;

		.lightbox
		{
			position: relative;
			background-color: #fff;
			display: inline-block;
			padding: 25px 40px;

			border-radius: 4px;
			label
			{
				display: block;
				// margin: 0 auto;
				margin-top: 15px;

				// input
				// {
				// 	width: 100%;
				// }
			}
			.closeBox
			{
				top: -10px;
				right: -5px;
				width: 30px;
				height: 30px;
				// line-height: 30px;
				color: #fff;
				font-size: 1.5em;
				background: #757575;
				border-radius: 30px;
				position: absolute;
				z-index: 99;
				cursor: pointer;
				box-shadow: 0 0 3px 0 #000;
			}
			.userbutton
			{
				padding-top:10px;
			}
			a
			{

				width: 100%;
				margin: 15px 0 0 0;
			}
		}

	}











}//.space_content end
