.mem_Info
{
	background-color: #EEEEEE;
	font-family: $main_font_family;
}
.memInfo
{
	margin-top: 50px;

	.memPageAll
	{
		position: relative;
		.navbar
		{
			box-shadow: 1px 1px 15px $dark-grey;
			.navbar-left
			{
				float: left;
			}
		}
		.nav
		{
			display: block;
		}
		.memNavNone
		{

				padding-bottom: 15px;

			img
			{
				width: 100%;
				border-radius: 50%;
				padding: 15px 0;
			}
			li
			{
				display: block;
				clear: both;
				width: 100%;
			}
			li>a:hover
			{
				background-color: $dark-blue;
				transition:.5s;
			}
			.active
			{
				a
				{
					background-color:$dark-blue;

					color:#fff;
				}

			}

		}

		.memInfoRight
		{

			img
			{
				width: 100%;
				border-radius: 50%;
				padding: 15px 0;
				vertical-align: middle;
				display: inline-block;
			}

			.breadcrumb
			{
				background-color: #eeeeee;
				padding-left: 0;
				padding-right: 0;
			}

			h3::after
			{
				content: '';
				background-color: #000;
				height:1px;
				width: 100%;
				margin-top:5px;
				display: block;
			}

			.memResult
			{
				input
				{
					display: block;
					padding: 5px 0;
					width: 100%;
					border-radius: 5px;

				}
				select
				{
					display: block;
					padding: 5px 0;
					width: 100%;
					border-radius: 5px;
					border-style: inset;
					border-width: 2px;
					border-color: initial;
					border-image: initial;
				}
				option
				{
					border-radius: 5px;
					border-style: inset;
					border-width: 2px;
					border-color: initial;
					border-image: initial;
				}
				p
				{
					margin: 20px 0 0 0;
				}

				.submitImgButton
				{

					.subRect
					{
						display: inline-block;
						font-size: 0;
						vertical-align: middle;
						width: 1%;
						height: 200px;
						opacity: 0;
						background-color: #000;
					}
					.subText
					{
						display: inline-block;
						vertical-align: middle;
						width: 95%;
					}
				}

				.memUpdateButton
				{
					margin-top: 90px;
					text-align: center;
				}
			}
		}


	}
	.memPageAll::after
	{
		content: '';
		display: block;
		clear: both;
	}

}
