.button {
  display: inline-block;
  margin: 0.3em;
  padding: 1em 1.5em;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);  /* Firefox 3.5 - 3.6 */
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  border: none;
  font-size: 18px;
  color:#ffffff;
  text-align: center;
  font-family: "cwtexhei", sans-serif;
  font-weight: 400;
  cursor: pointer;
  border-radius: 34px;
}

.button:hover {
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.19), 0 6px 6px 0 rgba(0, 0, 0, 0.23);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.19), 0 6px 6px 0 rgba(0, 0, 0, 0.23);  /* Firefox 3.5 - 3.6 */
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.19), 0 6px 6px 0 rgba(0, 0, 0, 0.23);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  text-decoration: none;
  color:$white;


}

.border_button{
  @extend .button;
  background-color: $white;
  border: $dark-grey solid 2px;
  color: $dark-grey;
  box-shadow: none;
  &:hover{
    box-shadow: none;
    background-color: $dark-grey;
  }

  &.yellow{
    border: $yellow solid 3px;
    color: $yellow;
    background-color: $white;
  }

  &.yellow:hover{
    background-color: $yellow;
    color: $white;
  }

  &.dark-blue{
    border: $dark-blue solid 3px;
    color: $dark-blue;
    background-color: $white;
  }

  &.dark-blue:hover{
    background-color: $dark-blue;
    color: $white;
  }

  &.red{
    border: #F44336 solid 3px;
    color:  #F44336;
    background-color: $white;
  }

  &.red:hover{
    background-color: #F44336;
    color: $white;
  }
}

.yellow {
  background-color: $yellow;

}

.red {
  background-color: #F44336;
}

.dark-blue {
  background-color: $dark-blue;
}

.ripple {
  position: absolute;
  background: rgba(0,0,0,.25);
  border-radius: 100%;
  transform: scale(0.2);
  opacity:0;
  pointer-events: none;
  -webkit-animation: ripple .75s ease-out;
  -moz-animation: ripple .75s ease-out;
  animation: ripple .75s ease-out;
}

@-webkit-keyframes ripple {
  from {
    opacity:1;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}

@-moz-keyframes ripple {
  from {
    opacity:1;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes ripple {
  from {
    opacity:1;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}
