.post_space{
  position: relative;
  .stuff_nav{
         background: -webkit-linear-gradient(#40afdf 0%, #40afdf 100%);
         background: -o-linear-gradient(#40afdf 0%, #40afdf 100%);
         background: linear-gradient(#40afdf 0%, #40afdf 100%);
        }
  section{
    overflow: hidden;
  }

  .page_title{
    color:$white;
    text-shadow:   0 1px 0 hsl(174,5%,80%),
	                 0 2px 0 hsl(174,5%,75%),
	                 0 3px 0 hsl(174,5%,70%),
	                 0 4px 0 hsl(174,5%,66%),
	                 0 5px 0 hsl(174,5%,64%),
	                 0 6px 0 hsl(174,5%,62%),

	                 0 0 5px rgba(0,0,0,.05),
	                0 1px 3px rgba(0,0,0,.2),
	                0 3px 5px rgba(0,0,0,.2),
	               0 5px 10px rgba(0,0,0,.2),
	              0 10px 10px rgba(0,0,0,.2),
	              0 20px 20px rgba(0,0,0,.3);
    position: absolute;
    top:14%;
    left:0;
    right:0;
    text-align: center;
  }

  .main_cube{
    width: 500px;
    height: 35vh;
  }

  .first_cube_wrap{
    position: absolute;
    bottom:12%;
    left:11%;
  }

  .first_person{
    position: absolute;
    bottom:85%;
    left:28%;
    transform: rotate(-1deg);

  }


  .main_cube_wrap{
    width: 500px;
    height: 35vh;
    position: absolute;
    bottom:10%;
    left:0;
    right:0;
    margin:auto;
  }

  .main_person_wrap{
    position: absolute;
    bottom:72%;
    left:36%;
  }

  .main_person_hand{
    position: absolute;
    bottom:92%;
    left:4%;
    animation: hand  1s linear infinite;
     transform-origin: 0% 50%;
  }

  .main_person_bubble{
    width: 100px;
    height: 100px;
    position: absolute;
    bottom:118%;
    left:48%;
    animation: bubble  1s linear infinite;
  }

  @keyframes hand {
    50% {
        transform: rotate(15deg);
      }
 }

 @keyframes bubble{
   50%{
     transform: scale(1.1);
   }
 }

  .second_cube_wrap{
    width:116px;
    position: absolute;
    height: 38vh;
    bottom:16%;
    left:34%;
  }

  .second_cube{
    width:116px;
    height: 38vh;
  }

  .second_person{
    width: 50px;
    position: absolute;
    bottom:91%;
    left:31%;
    transform: rotateX(-3deg) rotateY(16deg) rotateZ(1deg);
  }

  .third_cube_wrap{
    position: absolute;
    bottom:8%;
    right:17%;
  }

  .third_person{
    position: absolute;
    bottom:89%;
    right:39%;
  }

  .fourth_cube_wrap{
    position: absolute;
    bottom:15%;
    right:34%;
  }

  .fourth_person{
    position: absolute;
    bottom:84%;
    right:21%;
    transform: rotateX(-7deg) rotateY(-15deg) rotateZ(-2deg);

  }




  .big_cloud{
    position: absolute;
    background-image: url(../img/post_space_bigcloud.svg);
    background-repeat:repeat-x;;
    background-origin: 50% 50%;
    background-size: contain;
    width: 100vw;
    height: 40vh;
    bottom:0;
    z-index: 1;
    animation: float  3s ease-out infinite;

    .big_cloud_shadow{
      background-image: url(../img/post_space_bigcloudshasow1.svg);
      background-repeat:no-repeat;
      background-size: contain;
      width:20vw;
      height: 40vh;
      z-index: 2;
      position: absolute;
      bottom:-25%;
      right:-20vw;
      opacity:0.5;
      animation: float3  50s linear infinite;
    }

    .big_cloud_shadow_1{
      @extend .big_cloud_shadow;
      animation: float3  30s linear infinite;
      opacity:0.8;
      width:30vw;
      height: 30vh;
      overflow: hidden;
      bottom:13%;
      right:-30vw;
    }

    .big_cloud_shadow_2{
      @extend .big_cloud_shadow;
      animation: float1  3s linear infinite;
      opacity:0.8;
      width:20vw;
      height: 20vh;
      overflow: hidden;
      bottom:16%;
      right:18vw;
    }

  }

  .background_cloud{
    width: 10%;
    height: 10%;
    background-image: url(../img/post_space_cloud.svg);
    animation: float1 3s ease-out infinite;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    &.big{
      width:35%;
      height: 35%;
      animation: float2  3s ease-out infinite;
      position: absolute;
      right:40px;
      top:10%;
    }
    &.mid{
      width:20%;
      height: 20%;
      animation: float1_1  3s ease-out infinite;
      position: absolute;
      left:40px;
      top:30%;
    }
    &.cloud_1{
      position: absolute;
      right:40px;
      bottom:40%;
    }

    &.cloud_2{
      position: absolute;
      right:40%;
      top:20%;
    }

    &.cloud_3{
      position: absolute;
      left:20%;
      top:10%;
    }

    &.cloud_4{
      position: absolute;
      right:10%;
      top:10%;
    }

  }

  // sec2

  .space_ground{
    width: 60%;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
  }

  @keyframes float {
    50% {
        transform: translate(0, -2px);
      }
 }



  @keyframes float1 {
    50% {
        transform: translate(0, -5px);
      }
 }

 @keyframes float1_1 {
   50% {
       transform: translate(0, 10px);
     }
}

 @keyframes float2 {
   50% {
       transform: translate(0, 20px);
     }
}

@keyframes float3 {
  100% {
      transform: translate(-130vw, 0);
    }
}
  .page1{
       background: -webkit-linear-gradient(#40afdf 0%, #7ec8e6 50%,#a1d0e3  100%);
       background: -o-linear-gradient(#40afdf 0%,#7ec8e6 50% ,#a1d0e3 100%);
       background: linear-gradient(#40afdf 0%,#7ec8e6 50%, #a1d0e3 100%);
       position: relative;
        }

  .page2{
    background: -webkit-linear-gradient(#a1d0e3 0%,#7ec8e6 50% , #40afdf 100%);
    background: -o-linear-gradient(#a1d0e3 0% ,#7ec8e6 50%, #40afdf 100%);
    background: linear-gradient(#a1d0e3 0% ,#7ec8e6 50%, #40afdf 100%);
  }

  .page3{
    background: -webkit-linear-gradient(#40afdf 0%, #7ec8e6 60%, $white 100%);
    background: -o-linear-gradient(#40afdf 0%,#7ec8e6 60% ,$white 100%);
    background: linear-gradient(#40afdf 0%,#7ec8e6 60%, $white 100%);
  }

  .page4{
      background: -webkit-linear-gradient($white 0%, #7ec8e6 100%);
      background: -o-linear-gradient($white 0%, #7ec8e6 100%);
      background: linear-gradient($white 0%, #7ec8e6 100%);
    }

  .page5{
    background: linear-gradient(#7ec8e6 0%, #40afdf 50%);
  }
}
