.post_space{
  position: relative;
  .stuff_nav{
         background: -webkit-linear-gradient(#40afdf 0%, #40afdf 100%);
         background: -o-linear-gradient(#40afdf 0%, #40afdf 100%);
         background: linear-gradient(#40afdf 0%, #40afdf 100%);
        }
  section{
    overflow: hidden;
  }

  .page_title{
    color:$white;
    text-shadow:   0 1px 0 hsl(174,5%,80%),
	                 0 2px 0 hsl(174,5%,75%),
	                 0 3px 0 hsl(174,5%,70%),
	                 0 4px 0 hsl(174,5%,66%),
	                 0 5px 0 hsl(174,5%,64%),
	                 0 6px 0 hsl(174,5%,62%),

	                 0 0 5px rgba(0,0,0,.05),
	                0 1px 3px rgba(0,0,0,.2),
	                0 3px 5px rgba(0,0,0,.2),
	               0 5px 10px rgba(0,0,0,.2),
	              0 10px 10px rgba(0,0,0,.2),
	              0 20px 20px rgba(0,0,0,.3);
    position: absolute;
    top:14%;
    left:0;
    right:0;
    text-align: center;

    &.page_title_2{
      margin-top:5%;
      position: relative;
      text-align: center;
    }
  }

  .main_cube{
    width: 500px;
    height: 35vh;
  }

  .first_cube_wrap{
    position: absolute;
    bottom:12%;
    left:11%;
  }

  .first_person{
    position: absolute;
    bottom:85%;
    left:28%;
    transform: rotate(-1deg);

  }


  .main_cube_wrap{
    width: 500px;
    height: 35vh;
    position: absolute;
    bottom:10%;
    left:0;
    right:0;
    margin:auto;
  }

  .main_person_wrap{
    position: absolute;
    bottom:72%;
    left:36%;
  }

  .main_person_hand{
    position: absolute;
    bottom:92%;
    left:4%;
    animation: hand  1s linear infinite;
     transform-origin: 0% 50%;
  }

  .main_person_bubble{
    width: 100px;
    height: 100px;
    position: absolute;
    bottom:118%;
    left:48%;
    animation: bubble  1s linear infinite;
  }

  @keyframes hand {
    50% {
        transform: rotate(15deg);
      }
 }

 @keyframes bubble{
   50%{
     transform: scale(1.1);
   }
 }

  .second_cube_wrap{
    width:116px;
    position: absolute;
    height: 38vh;
    bottom:16%;
    left:34%;
  }

  .second_cube{
    width:116px;
    height: 38vh;
  }

  .second_person{
    width: 50px;
    position: absolute;
    bottom:91%;
    left:31%;
    transform: rotateX(-3deg) rotateY(16deg) rotateZ(1deg);
  }

  .third_cube_wrap{
    position: absolute;
    bottom:8%;
    right:17%;
  }

  .third_person{
    position: absolute;
    bottom:89%;
    right:39%;
  }

  .fourth_cube_wrap{
    position: absolute;
    bottom:15%;
    right:34%;
  }

  .fourth_person{
    position: absolute;
    bottom:84%;
    right:21%;
    transform: rotateX(-7deg) rotateY(-15deg) rotateZ(-2deg);

  }




  .big_cloud{
    position: absolute;
    background-image: url(../img/post_space_bigcloud.svg);
    background-repeat:repeat-x;;
    background-origin: 50% 50%;
    background-size: contain;
    width: 100vw;
    height: 40vh;
    bottom:0;
    z-index: 1;
    animation: float  3s ease-out infinite;

    .big_cloud_shadow{
      background-image: url(../img/post_space_bigcloudshasow1.svg);
      background-repeat:no-repeat;
      background-size: contain;
      width:20vw;
      height: 40vh;
      z-index: 2;
      position: absolute;
      bottom:-25%;
      right:-20vw;
      opacity:0.5;
      animation: float3  50s linear infinite;
    }

    .big_cloud_shadow_1{
      @extend .big_cloud_shadow;
      animation: float3  30s linear infinite;
      opacity:0.8;
      width:30vw;
      height: 30vh;
      overflow: hidden;
      bottom:13%;
      right:-30vw;
    }

    .big_cloud_shadow_2{
      @extend .big_cloud_shadow;
      animation: float1  3s linear infinite;
      opacity:0.8;
      width:20vw;
      height: 20vh;
      overflow: hidden;
      bottom:16%;
      right:18vw;
    }

  }

  .background_cloud{
    width: 10%;
    height: 10%;
    background-image: url(../img/post_space_cloud.svg);
    animation: float1 3s ease-out infinite;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    &.big{
      width:35%;
      height: 35%;
      animation: float2  3s ease-out infinite;
      position: absolute;
      right:40px;
      top:10%;
    }
    &.mid{
      width:20%;
      height: 20%;
      animation: float1_1  3s ease-out infinite;
      position: absolute;
      left:40px;
      top:30%;
    }
    &.cloud_1{
      position: absolute;
      right:40px;
      bottom:40%;
    }

    &.cloud_2{
      position: absolute;
      right:40%;
      top:20%;
    }

    &.cloud_3{
      position: absolute;
      left:20%;
      top:10%;
    }

    &.cloud_4{
      position: absolute;
      right:10%;
      top:10%;
    }
  }

  // sec2
  .background_cloud2{
    width: 10%;
    height: 10%;
    background-image: url(../img/post_space_cloud_2.svg);
    animation: float1 3s ease-out infinite;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    &.cloud_1{
      width: 38%;
      height: 38%;
      position: absolute;
      top:11%;
      left:-3%;
      animation: float1_1 3s ease-out infinite;
    }

    &.cloud_2{
      width: 20%;
      height: 20%;
      position: absolute;
      top:7%;
      left:25%;
    }

    &.cloud_3{
      width: 26%;
      height: 26%;
      position: absolute;
      right:-2%;
      bottom:46%;
    }

    &.cloud_4{
      width: 48%;
      height: 48%;
      position: absolute;
      animation: float1_1 5s ease-out infinite;
      bottom:1%;
      right:-4%;
    }

  }

  .ground_wrap{
    width: 1000px;
    height:500px;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
  }

  .ground_wrap_2{
    @extend .ground_wrap;
    right:-13%;
    bottom:-55%;
  }

  .space_ground{
    width: 100%;
  }

  .person{
    width: 44%;
    position: absolute;
    top:23.5%;
    left:28%;
  }

  .person_sec2{
    @extend .person ;
  }

  .furni_1{
    position: absolute;
    width: 25%;
    top: 39%;
    left: 4%;

  }

  .furni_2{
    position: absolute;
    top: 49%;
    left: 49%;

  }

  .furni_3{
    position: absolute;
    top:-5%;
    left: 57%;

  }

  .furni_4{
    position: absolute;
    top: 0%;
    left: 29%;

  }

  .furni_5{
    position: absolute;
    top: 18%;
    left: 68%;

  }

  .furni_6{
    position: absolute;
    top: 2%;
    left: 46%;

  }

  .furni_7{
    position: absolute;
    top: 22%;
    left: 17%;

  }

.user{
  position: absolute;



  &.user_1{
    width: 15%;
    bottom:34%;
    left:80%;
    animation: float  0.5s linear infinite;
  }

  &.user_2{
    width: 3%;
    bottom:49%;
    left:30%;
    animation: float  0.3s linear infinite;
  }

  &.user_3{

    bottom:23%;
    left:55%;
    animation: float  0.6s linear infinite;
  }

  &.user_4{
    width:4%;
    bottom:13%;
    left:68%;
    animation: float  0.4s linear infinite;
  }

  &.user_5{
    bottom:94%;
    left:49%;
    animation: float  0.4s linear infinite;
  }

  &.user_6{
    width: 4%;
    bottom:24%;
    left:78%;
    animation: float  0.3s linear infinite;
  }

  &.user_7{
    width: 13%;
    bottom:19%;
    left:30%;
    animation: float  0.5s linear infinite;
  }
}

.user_inter{
  position: absolute;
  width: 100%;
  bottom: 69%;
  left:0%;
}

// all the device

.devices{
  position: absolute;
  bottom: -10%;
  left:-7%;
  width: 500px;
}

$frame: #fafafa;
$screen: #555;
$extra: #aaa;
$browser:$light-blue;
$browser-ui: $grey;

  .device {
  position: absolute;
}

.notebook { bottom: -30px; left: 0; }
.ipad     { bottom: -40px; left: 350px; }
.iphone   { bottom: -40px; left: 500px; }

.screen {
  position: relative;
  margin: 13px auto 0;
  border-radius: 2px;
  background: $screen;
  overflow: hidden;
}

.shadow {
  position: absolute;
  z-index: -1;
  bottom: -4px;
  left: -4%;
  width: 108%;
  height: 8px;
  border-radius: 100%;
  background: rgba(0,0,0,.2);
}

/***************************************
 * Notebook
 */

.notebook {
  width: 300px;
  height: 185px;
  border-radius: 10px 10px 0 0;
  background: $frame;
}

.notebook:before {
  top: 5px;
  left: 50%;
  width: 4px;
  height: 4px;
  margin-left: -2px;
  border-radius: 50%;
  background: $extra;
}

.notebook .screen {
  width: 275px;
  height: 160px;
}

.notebook .keyboard {
  position: absolute;
  top: 100%;
  margin-left: -25px;
  width: 350px;
  height: 8px;
  border-radius: 5px 5px 25px 25px;
  background: #eaeaea;
}

.notebook .keyboard:after {
  left: 50%;
  margin-left: -25px;
  width: 50px;
  height: 4px;
  border-radius: 0 0 8px 8px;
  background: #ccc;
}

/***************************************
 * Tablet
 */

.ipad {
  width: 110px;
  height: 150px;
  border-radius: 8px;
  background: $frame;
}

.ipad:before {
  top: 5px;
  left: 50%;
  width: 4px;
  height: 4px;
  margin-left: -2px;
  border-radius: 50%;
  background: $extra;
}

.ipad:after {
  bottom: 5px;
  left: 50%;
  width: 4px;
  height: 4px;
  margin-left: -2px;
  border: 1px solid $extra;
  border-radius: 50%;
}

.ipad .screen {
  width: 100px;
  height: 125px;
}

/***************************************
 * Smartphone
 */

.iphone {
  width: 60px;
  height: 110px;
  border-radius: 8px;
  background: $frame;
}

.iphone:before {
  top: 6px;
  left: 50%;
  width: 10px;
  height: 2px;
  margin-left: -5px;
  border-radius: 4px;
  background: $extra;
}

.iphone:after {
  bottom: 5px;
  left: 50%;
  width: 4px;
  height: 4px;
  margin-left: -2px;
  border: 1px solid $extra;
  border-radius: 50%;
}

.iphone .screen{
  width: 52px;
  height: 85px;
}

/***************************************
 * Animation
 */

.animation {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  background: $browser;
  transform: scale(.4,.4) translateX(500%);
  animation: 7s fly-in infinite;
  overflow: hidden;
}

@keyframes fly-in {
    0% { transform: scale(.4,.4) translateX(500%);  }
   10% { transform: scale(.4,.4) translateX(0);     }
   20% { transform: scale(1,1)   translateX(0);     }
   80% { transform: scale(1,1)   translateX(0);     }
   90% { transform: scale(.4,.4) translateX(0);     }
  100% { transform: scale(.4,.4) translateX(-500%); }
}

.browser {
  height: 15px;
  background: $browser-ui;
  &:before {
    top: 5px;
    left: 5px;
    width: 5px;
    height: 5px;
    border-radius: 2px;
    background: $browser;
  }
  &:after {
    top: 5px;
    right: 5px;
    height: 5px;
    width: calc(100% - 20px);
    border-radius: 2px;
    background: $browser;
  }
}

.content {
  position: relative;
  width: 80%;
  height: 4px;
  margin: 10% 0 0 10%;
  background: $browser-ui;
  box-shadow:
    0 8px 0 $browser-ui,
    0 16px 0 $browser-ui,
    0 24px 0 $browser-ui,
    0 32px 0 $browser-ui,
    0 40px 0 $browser-ui,
    0 48px 0 $browser-ui;
  animation: 7s pop-in infinite;
  &:after {
    top: 48px;
    left: 50%;
    width: 50%;
    height: 4px;
    background: $browser;
  }
}

.notebook .content:before {
  width: 32px;
  height: 28px;
  border-right: 4px solid $browser;
  background: $browser-ui;
}

.ipad .content:before {
  width: 24px;
  height: 20px;
  border-right: 4px solid $browser;
  background: $browser-ui;
}

// messagebox
.message {
  background-color: white;
  width: calc(100% - 3em);
  max-width: 20em;
  padding: 1em 1em 1em 1.5em;
  border-left-width: 6px;
  border-left-style: solid;
  border-radius: 3px;
  position: relative;
  line-height: 1.5;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  &:before {
    color: white;
    width:  1.5em;
    height: 1.5em;
    position: absolute;
    top: 0.75em;
    left: -3px;
    border-radius: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    font-size: 1.5em;
    font-family: $main_font_family;
  }

  p {
    margin: 0 0 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.message_1_1{
    position: absolute;
    top:-22%;
    left:33%;
    &:before {
      content: "1";
    }
  }

  &.message_1_2{
    position: absolute;
    top:42%;
    right:-8%;
    &:before {
      content: "2";
    }
  }

  &.message_1_3{
    position: absolute;
    top:-22%;
    left:33%;
    width: 500px;
    &:before {
      content: "3";
    }
  }
}

.message--error {
  border-left-color: firebrick;

  &:before {
    background-color: firebrick;
    content: "‼";
  }
}

.message--warning {
  border-left-color: $yellow;

  &:before {
    background-color: $yellow;
    content: "!";
  }
}

.message--success {
  border-left-color: darkolivegreen;

  &:before {
    background-color: darkolivegreen;
    content: "✔";
  }
}



@keyframes pop-in {
    0% { transform: translateY(3000%); }
   18% { transform: translateY(3000%); }
   28% { transform: translateY(0); }
  100% { transform: translateY(0); }
}


  @keyframes float {
    50% {
        transform: translate(0, -2px);
      }
 }



  @keyframes float1 {
    50% {
        transform: translate(0, -5px);
      }
 }

 @keyframes float1_1 {
   50% {
       transform: translate(0, 10px);
     }
}

 @keyframes float2 {
   50% {
       transform: translate(0, 20px);
     }
}

@keyframes float3 {
  100% {
      transform: translate(-130vw, 0);
    }
}
  .page1{
       background: -webkit-linear-gradient(#40afdf 0%, #7ec8e6 50%,#a1d0e3  100%);
       background: -o-linear-gradient(#40afdf 0%,#7ec8e6 50% ,#a1d0e3 100%);
       background: linear-gradient(#40afdf 0%,#7ec8e6 50%, #a1d0e3 100%);
       position: relative;
        }

  .page2{
    background: -webkit-linear-gradient(#a1d0e3 0%,#7ec8e6 50% , #40afdf 100%);
    background: -o-linear-gradient(#a1d0e3 0% ,#7ec8e6 50%, #40afdf 100%);
    background: linear-gradient(#a1d0e3 0% ,#7ec8e6 50%, #40afdf 100%);
  }

  .page3{
    background: -webkit-linear-gradient(#40afdf 0%, #7ec8e6 60%, $white 100%);
    background: -o-linear-gradient(#40afdf 0%,#7ec8e6 60% ,$white 100%);
    background: linear-gradient(#40afdf 0%,#7ec8e6 60%, $white 100%);
  }

  .page4{
      background: -webkit-linear-gradient($white 0%, #7ec8e6 100%);
      background: -o-linear-gradient($white 0%, #7ec8e6 100%);
      background: linear-gradient($white 0%, #7ec8e6 100%);
    }

  .page5{
    background: linear-gradient(#7ec8e6 0%, #40afdf 50%);
  }
}
