.post_space_input{
  background: -webkit-linear-gradient(#40afdf 0%,#a1d0e3  100%);
  background: -o-linear-gradient(#40afdf 0%,#a1d0e3 100%);
  background: linear-gradient(#40afdf 0%, #a1d0e3 100%);

  label{
    font-family: $main_font_family;
    font-weight: 400;

  }

  .fs-fields > li .fs-radio-custom span label{
    color:$black
  }

  .input_container{
    height:92.45%;
  }

  .inputimg{
    width: 60%;
    height:60%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 32px;
    left: 0px;
    right:0px;
    margin:auto;
    background-position: 50% 50%;
    background-size: contain;
    filter:contrast(300%);
    &.info_1{
      background-image: url(../img/equipment_gif/information/internet.png);
    }
    &.info_2{
      background-image: url(../img/equipment_gif/information/wifi.png);
      background-position: 50% 50%;
      background-size: contain;
    }

    &.info_3{
      background-image: url(../img/equipment_gif/information/phone.png);
    }

    &.info_4{
      background-image: url(../img/equipment_gif/information/fax.png);
    }

    &.info_5{
      background-image: url(../img/equipment_gif/information/video_conf_equipment.png);
      background-position: 50% 50%;
      background-size: contain;
    }

    &.info_6{
      background-image: url(../img/equipment_gif/information/mailbox.png);
    }

    &.equip_1{
      background-image: url(../img/equipment_gif/equipment/stationary.png);
    }

    &.equip_2{
      background-image: url(../img/equipment_gif/equipment/whiteboard.png);
      background-size: contain;
    }

    &.equip_3{
      background-image: url(../img/equipment_gif/equipment/furniture.png);
      background-position: 50% 50%;
      background-size: contain;
    }

    &.equip_4{
      background-image: url(../img/equipment_gif/equipment/moniter.png);
      background-position: 50% 50%;
      background-size: contain;
    }

    &.equip_5{
      background-image: url(../img/equipment_gif/equipment/projector.png);
      background-position: 50% 50%;
      background-size: contain;
    }

    &.equip_6{
      background-image: url(../img/equipment_gif/equipment/printer.png);
      background-size: contain;
    }

    &.food_1{
      background-image: url(../img/equipment_gif/food/filter_water.png);
      background-position: 50% 50%;
      background-size: contain;
    }

    &.food_2{
      background-image: url(../img/equipment_gif/food/Tea.png);
      background-position: 50% 50%;
      background-size: contain;
    }

    &.food_3{
      background-image: url(../img/equipment_gif/food/lemonade.png);
      background-position: 50% 50%;
      background-size: contain;
    }

    &.food_4{
      background-image: url(../img/equipment_gif/food/catering.png);
      background-position: 50% 50%;
      background-size: contain;
    }

    &.food_5{
      background-image: url(../img/equipment_gif/food/restaurant.png);
      background-position: 50% 50%;
      background-size: contain;
    }

    &.food_6{
      background-image: url(../img/equipment_gif/food/kitchen.png);
      background-position: 50% 50%;
      background-size: contain;
    }

    &.room_1{
      background-image: url(../img/equipment_gif/room/meeting_room.png);
      background-position: 50% 50%;
      background-size: contain;
    }

    &.room_2{
      background-image: url(../img/equipment_gif/room/library.png);
      background-position: 50% 50%;
      background-size: contain;
    }

    &.room_3{
      background-image: url(../img/equipment_gif/room/theater.png);
      background-position: 50% 50%;
      background-size: contain;
    }

    &.room_4{
      background-image: url(../img/equipment_gif/room/music.png);
      background-position: 50% 50%;
      background-size: contain;
    }

    &.room_5{
      background-image: url(../img/equipment_gif/room/tools_room.png);
      background-position: 50% 50%;
      background-size: contain;
    }

    &.room_6{
      background-image: url(../img/equipment_gif/room/lab.png);
      background-position: 50% 50%;
      background-size: contain;
    }

    &.transport_1{
      background-image: url(../img/equipment_gif/transport/bus.png);
    }
    &.transport_2{
      background-image: url(../img/equipment_gif/transport/metro.png);
    }
    &.transport_3{
      background-image: url(../img/equipment_gif/transport/train.png);
    }
    &.transport_4{
      background-image: url(../img/equipment_gif/transport/bike_rack.png);
    }
    &.transport_5{
      background-image: url(../img/equipment_gif/transport/scooter.png);
    }
    &.transport_6{
      background-image: url(../img/equipment_gif/transport/car_parking.png);
    }
  }

  .input_checkboxs span > label {
    border: 3px solid  $black;
    padding-bottom:15px;
    box-sizing: border-box;
    border-radius: 10px;
    transition: .3s;
  }

  input[type=checkbox]:checked ~ label{
    border: 3px solid  $green;
    // transition: .3s;
    animation: selected 0.3s cubic-bezier(0.250, 0.100, 0.250, 1.000);
  }

  input[type=checkbox]:checked ~ label:after{
    content: '　\2714';
    color: #fff;
    position: absolute;
    font-size: 42px;
    top: -17px;
    right: -17px;
    height: 60px;
    width: 60px;
    background-color: #37bc9b;
    border-radius: 50%;
    line-height: 56px;
    letter-spacing: -58px;
    animation: selected 0.3s cubic-bezier(0.250, 0.100, 0.250, 1.000);

    &:hover{
      opacity:1;
    }

    @keyframes selected {
      50% { transform: scale(0.8); opacity: 0.8;}
    }

    @keyframes unselected {
      0% { box-shadow: 0 0 0 4px #00c09e; }
      50% { transform: scale(0.8); opacity: 0.8; box-shadow: 0 0 0 4px #fff; }
      80%,100% {box-shadow: 0 0 0 4px #fff; }
    }



  }

  .wo_type_info{
    display: block;
    font-weight: 400;
    margin-bottom: 30px;
    letter-spacing: 2px;
    line-height: 1.2em;
    font-size: 18px;
    color:$black;
  }

  .casual_wo:hover{
    &:after{
        content:"場地不受裝潢、設備拘束，自由自在的空間";
        text-align: center;
        vertical-align: middle;
        color:$white;
        font-family: $sub_font_family;
        font-size: 18px;
        font-weight: 100;
        line-height: 12em;
        width: 100%;
        height: 100%;
        background-color: rgba($black, 0.67);
        position: absolute;
    }
  }

  .discuss_wo:hover{
    &:after{
        content:"可讓多個小團隊進行協作、會議之空間";
        text-align: center;
        vertical-align: middle;
        color:$white;
        font-family: $sub_font_family;
        font-size: 18px;
        font-weight: 100;
        line-height: 12em;
        width: 100%;
        height: 100%;
        background-color: rgba($black, 0.67);
        position: absolute;
    }
  }

  .concern_wo:hover{
    &:after{
        content:"可以不受干擾、專心做事的空間";
        text-align: center;
        vertical-align: middle;
        color:$white;
        font-family: $sub_font_family;
        font-size: 18px;
        font-weight: 100;
        line-height: 12em;
        width: 100%;
        height: 100%;
        background-color: rgba($black, 0.67);
        position: absolute;
    }
  }

  .maker_wo:hover{
    &:after{
        content:"提供設備，讓大家自己動手做的空間";
        text-align: center;
        vertical-align: middle;
        color:$white;
        font-family: $sub_font_family;
        font-size: 18px;
        font-weight: 100;
        line-height: 12em;
        width: 100%;
        height: 100%;
        background-color: rgba($black, 0.67);
        position: absolute;
    }
  }

  .nature_wo:hover{
    &:after{
        content:"可以很容易接觸到自然的空間";
        text-align: center;
        vertical-align: middle;
        color:$white;
        font-family: $sub_font_family;
        font-size: 18px;
        font-weight: 100;
        line-height: 12em;
        width: 100%;
        height: 100%;
        background-color: rgba($black, 0.67);
        position: absolute;
    }
  }








}
