.post_space_input{
  background: -webkit-linear-gradient(#40afdf 0%, #7ec8e6 50%,#a1d0e3  100%);
  background: -o-linear-gradient(#40afdf 0%,#7ec8e6 50% ,#a1d0e3 100%);
  background: linear-gradient(#40afdf 0%,#7ec8e6 50%, #a1d0e3 100%);
}
