//font-size
$fz-h1: 53px;
$fz-h2: 40px;
$fz-h3: 32px;
$fz-h4: 24px;
$fz-h5: 19px;
$fz-p:  16px;
$fz-minp: 12px; 


// color
$dark-blue: #0288D1;
$normal-blue: #03A9F4;
$light-blue: #B3E5FC;
$white: #FFFFFF;
$yellow: #FFC107;
$black: #212121;
$dark-grey: #757575;
$grey: #BDBDBD;
