//font-size
$fz-h1: 53px;
$fz-h2: 40px;
$fz-h3: 32px;
$fz-h4: 24px;
$fz-h5: 19px;
$fz-p:  16px;
$fz-minp: 12px;
$main_font_family: "Noto Sans TC", sans-serif;
$sub_font_family: "cwtexhei", sans-serif;


// color
$dark-blue: #0288D1;
$normal-blue: #03A9F4;
$light-blue: #B3E5FC;
$white: #FFFFFF;
$yellow: #FFC107;
$black: #212121;
$dark-grey: #757575;
$grey: #BDBDBD;

$green: #37bc9b;
$sky-blue:#5ba4e5;
$red: #F44336;
