@include respones(small) {
	
	//顯示結果橫向排列
	#searchspace{
		#searchMap{
			display: none;
		}
		.footer{
			margin-top: 10px;
		}
		#info{
			padding-bottom: 100%;
			#select{
				.seldown{
					margin:5px 0;
				}
				#goinfo{
					text-align: center;
				}
				h5{
					margin:10px 0;
				}
			}
			#result{
				padding-bottom: 280%;
				.spaceimg{
					width:50.33333333%;
					float: left;
				}
				.spacecontent{
					width:49.66666666%;
					float: left;
					line-height: 17px;
				}
				h5{
					font-size:15px;
				}
				.card-text{
					font-size:14px;
				}

			}//#result
		}//#info
		


		#search{
			top:130px;

			#wotype{
				.woname{
					width:220px;
				}
				.wocenter{
					width:220px;
					margin:auto;
				}
			}
			#people{
				margin:20px 0;
			}
			#money{
				margin:20px 0;
			}

			#device{
				margin:30px 0;

				.dev{
					width:33.33333333%;
				}
				.dericon{
					background-color: #fff;
					width:30%;
					margin:5px 0 ;
				}
				.spaceicon{
					height: 40px;
				}
			}
		}

		
	}//#searchspace
	

};
