.mem_page
{
	background: linear-gradient(#40afdf 0%,#7ec8e6 50%, #a1d0e3 100%);

	font-family: $main_font_family;
	
}

.mem_page_footer{
	margin-top: 260px;
}





.mempage
{
	margin: 50px 0;
	.container
	{
		background: #EEEEEE;
		padding-top: 30px;
		padding-bottom: 5px;
	}
	.memPageAll
	{
		position: relative;
		.navbar
		{
			box-shadow: 1px 1px 15px $dark-grey;
			.navbar-left
			{
				float: left;
			}
		}
		.nav
		{
			display: block;
		}
		
		.memNavNone
		{

				padding-bottom: 15px;

			img
			{
				width: 100%;
				border-radius: 50%;
				padding: 15px 0;
			}
			li
			{
				display: block;
				clear: both;
				width: 100%;
			}
			li>a:hover
			{
				background-color: $dark-blue;
				transition:.5s;
			}
			.active
			{
				a
				{
					background-color:$dark-blue;

					color:#fff;
				}

			}

		}
		.mempageDetail
		{
			position: absolute;
			bottom: 20px;
			right: 0;
			img
			{
				vertical-align:  bottom;
				width: 100%;
			}
			.memResult
			{
				text-align: center;
				.memResultContext
				{

					margin: 0 auto;
					span
					{
						font-size: 30px;
						font-weight: 500;
					}
					.spanBlue
					{
						color: $dark-blue;
					}
					.spanYellow
					{
						color: $yellow;
					}
				}

			}

		}

		.mempageDetail
		{
			margin:0 auto;
		}
	}
	.memPageAll::after
	{
		content: '';
		display: block;
		clear: both;
	}

}
