@include respones(small) {
.mem_page_footer{
	margin-top: 140px;
}

	.mem_page{
		.col-xs-20p
		{
			padding: 0;
		}
	}
	.mempage
	{
		margin:0;
		.col-xs-20p
		{
			padding: 0;
		}
		.memPageAll
		{

			.navbar
			{
				box-shadow: none;
				background-color: hsla(0, 0%, 93%, 0);
				border-color: hsla(0, 0%, 93%, 0);
			}
			
			.memNavAll
			{
				position: fixed;
				z-index: 999;
				top: 85px;
				left: 0;
				.memNavDisAll
				{
					display: inline-block;
					button
					{
						background-color: #fff;
						box-shadow: 1px 1px 10px $grey;
					}
				}

				.memNavNoneAll
				{
					padding-right: 34px;
    				padding-left: 34px;
					background-color: #fff;
					margin-top: -14px;
					box-shadow: 1px 1px 10px $grey;
				}
			}

			.mempageDetail
			{
				position: static;
				margin-top: 50px;
			}
		}
	}
};
