$ribbon-bg: #bb3a34;
$ribbon-hl: #e74841;
$ribbon-w: 40px;
$ribbon-tail: 10px;

.blog_footer{
	margin-top: 300px;
	z-index: 0;
}

.blog_main{
	.main_nav_bar{
		z-index: 100;
	}
.userLightBox .lightbox .closeBox i{
	left:5px;
}

}



.blog
{
	// overflow-x:hidden;
	position: relative;
	.row
	{
		margin: 0;
	}
	#lightboxbcc
	{
		background-color: rgba(33, 33, 33, 0.6);
		height: 100vh;
		width: 100vw;
		position: fixed;
		z-index: 999;
		display: none;
		opacity: 0;
	}
	.disn
	{
		display: none;
	}
	.disb
	{
		display: block;
	}
	#ribbon {
		padding:0 0 $ribbon-tail 0;
		position:absolute;
		right:0.25em;
		top:-0.25em;
		width:$ribbon-w;

		div {
			background:$ribbon-bg;
			background: linear-gradient($ribbon-hl 0%, $ribbon-bg 100%);
			color:#fff;
			font-weight: 600;
			padding:0.5em 0;
			text-align:center;
			text-shadow:-1px -1px 0 rgba(0, 0, 0, 0.5);
		}

		div:after {
			border-left: $ribbon-w/2 solid $ribbon-bg;
			border-right: $ribbon-w/2 solid $ribbon-bg;
			border-bottom: $ribbon-tail solid transparent;
			bottom:0;
			content:'';
			height: 0;
			left:0;
			position:absolute;
			width: 0;
		}
	}
	line-height: 2;
	background: linear-gradient(#40afdf 0%,#7ec8e6 50%, #a1d0e3 100%);

	img
	{
		width: 100%;
	}
	a
	{
		line-height: 1;
		color: #fff;
	}
	.main
	{
		background-image: url(../img/main1.png);
	}
	.mainText
	{

		margin:20px;
		background-color: hsla(0, 0%, 100%, 0.8);

		border-radius: 20px;
		padding: 15px;
		line-height: 2;
	}

	.mainText h2
	{
		font-size: $fz-h2;
		font-weight: bold;
		line-height: 1.2;
	}

	.mainText h2::after
	{
		content: '';
		background-color: #000;
		height: 3px;
		width: 100%;
		display: block;
	}

	.mainText p
	{
		font-size: 16px;
	}
	.mainText .button
	{
		margin: 20px 0;
	}
	.mainText a
	{
		color: #fff;
		list-style: none;
		line-height: 1;
	}

	.container
	{

		.blogNav
		{
			border: none;
			padding: 5px;
			margin-top: 20px;
			background-color: rgba(33, 33, 33, 0.6);
			.navGo
			{
				display: block;
				margin: 7.5px 0px;
			}

			.blogNavItem
			{
				border:1px solid #03A9F4;
				border-radius: 4px;
				margin-right: 15px;

				a
				{
					padding: 10px 15px;
					font-size: 14px;
					background-color: #fff;
				}

				.dropdown-menu
				{
					border:1px solid #03A9F4;
					border-radius: 4px;
					box-shadow: 0px 6px 12px hsla(198, 97%, 48%, 0.275);
				}
			}
			.form-control,.btnSearch
			{
				border:1px solid #03A9F4;
			}

			.keyword
			{
				padding: 19px 12px;
			}
			.searchBtn
			{
				padding: 9px 12px;
			}
		}

		.search
		{
			position: relative;
			background-color: #fff;
			// border-radius: 10px;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			padding: 10px 25px;
			// border-bottom: 1px solid $grey;
			.searchBar
			{
				position: relative;
				input:focus{
					outline: none;
				}
				.searchControl
				{
					color: #000;
					border: solid #d6d6d6;
					border-width: 0 0 1px;
					transition:.5s;
					padding: 0 10px;
				}
				.searchControl:focus
				{
					border: solid $normal-blue;
					border-width: 0 0 1px;
				}
				.searchSubmit
				{
					background:url(http://www.toprank.com/wp-content/themes/toprank/svg/search.svg) 50% 50% no-repeat;;
					border: none;
					position: absolute;
					text-indent: -9999px;
					font-size: 14px;
					padding: 0;
					width: 50px;
					top: 0;
					left: 175px;
				}
			}
		}



		.blogItemAll
		{
			// margin-top: 15px;
			background-color: #ddd;
			padding: 10px;

			.blogItem
			{

				// .overp
				// {
				// 	overflow: hidden;
				// 	white-space: nowrap;
				// 	text-overflow: ellipsis;
				// }
				position: relative;
				background-color: #fff;
				margin-bottom: 30px;
				border-radius: 10px;
				border-bottom: 1px solid hsla(0, 0%, 74%, 0.4);
				padding: 30px;
				box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
				z-index: 2;
				h2
				{
					font-size: $fz-h3;
					line-height: 1.2;
					padding: 0 10px;
				}
				h2::after
				{
					content: '';
					background-color: #000;
					height: 2px;
					width: 100%;
					display: block;
					margin: 10px auto;

				}


				.buttonRight
				{
					a
					{
						color: #fff;
						list-style: none;
					}
					li
					{
						display: inline-block;
						padding-right: 10px;
					}
				}

				.buttonleft
				{
					a
					{
						color: #fff;
						list-style: none;
					}
					li
					{
						display: inline-block;
						padding-right: 10px;
					}


				}

				.yoyo
				{
					bottom: 30px;
					padding: 0 40px 0 15px;
				}

				.yoyo2
				{
					bottom: 30px;
					padding: 0 15px 0 40px;
				}


			}




			.first
			{
				border-top-left-radius: 0;
				border-top-right-radius: 0;
			}

			.blogItem::after
			{
				content: '';
				display: block;
				clear: both;
			}

			// .row:nth-last-child(2)
			// {
			// 	.blogItem
			// 	{
			// 		margin:0;
			// 	}
			// }

		}








	}
	.moreButton{
		text-align: center;
		position: relative;
		z-index: 9996;
	}

}


#mdOverlay {
	top: 0;
	left: 0;
	width: 100%;
	position: fixed;
	z-index: 999997;
	background: #000;
	display: none;
}
#mdWindow {
	margin-top: -300px;
	margin-left: -500px;
	top: 50%;
	left: 50%;
	width: 1000px;
	height: 600px;
	position: fixed;
	z-index: 999998;
	background: #fff;
	display: none;
	border-radius: 4px;
}
#mdWindow > .mdClose {
	top: -15px;
	right: -15px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	font-size: 1.5em;
	text-align: center;
	background: #757575;
	border-radius: 30px;
	position: absolute;
	z-index: 999998;
	cursor: pointer;
	box-shadow: 0 0 3px 0 #000;
}
#contWrap {
	margin: 30px auto;
	padding: 0 20px;
	width: 100%;
	height: 540px;
	box-sizing: border-box;
	overflow-y: auto;
}

#logOverlay {
	top: 0;
	left: 0;
	width: 100%;
	position: fixed;
	z-index: 999997;
	background: #000;
	display: none;
}
#logWindow {
	margin-top: -172.5px;
    margin-left: -150px;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 345px;
	position: fixed;
	z-index: 999998;
	background: #fff;
	display: none;
	border-radius: 4px;
}
#logWindow > .logClose {
	top: -15px;
	right: -15px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	font-size: 1.5em;
	text-align: center;
	background: #757575;
	border-radius: 30px;
	position: absolute;
	z-index: 999998;
	cursor: pointer;
	box-shadow: 0 0 3px 0 #000;
}
#logcontWrap {
	margin: 30px auto;

	width: 100%;
	height: 305px;
	box-sizing: border-box;
	overflow-y: auto;
}

#testp
{
	position: fixed;
	top: 72px;
	text-align: center;
	z-index: 99999;

}
