@include respones(small) {
	
  .blog_footer{
    	margin-top: 50px;
  }

  .blog_search{
  	width: 100%;
  	margin: auto;
  }
  .blog
  {
  	.mainText
	{

		margin-top: 20px;
		margin-left: 10px;
		line-height: 1.5;
	}

	.container
	{

		.blogNav .blogNavItem
		{
			margin: 0;
		}
		.blogcontext
		{
			left: 8.3333333%;

			.share
			{
				li
				{
					width: 100%;
				}
			}
			.messageRow
			{
				.message
				{
					img
					{
						width: 30%;
					}
				}

			}
			
		}


	}

	.yoyo
	{
		position: static;
		.buttonRight,.buttonleft
		{
			text-align: center;
			clear: both;
		}


	}
	.yoyo2
	{
		position: static;
		.buttonRight,.buttonleft
		{
			text-align: center;
			clear: both;
		}
	}
	

  }
  #mdWindow
	{
		margin-top: -250px;
		margin-left: -150px;
		width: 300px;
		height: 500px;

	}
	#contWrap
	{
		height: 440px;
	}

	.blog .container .blogItemAll .blogItem .yoyo, .blog .container .blogItemAll .blogItem .yoyo2 {
    bottom: 30px;
    padding: 0; 
}
.blog .container .blogItemAll .blogItem
{
     h2
     {
     	font-size: 24px;
     }
     p
     {
     	font-size: 14px;
     }
}

};
